body {
    background: black;
    background-image: url(../images/6d5rAh7.jpg); /* https://imgur.com/gallery/6d5rAh7/comment/496834860 */
    background-size: cover;
}

.container {
    background: white;
    color: black;
}

